<!DOCTYPE html>
<html>
<head>
  <title>Activereducer</title>
  <%= stylesheet_link_tag    "activereducer/application", media: "all" %>
  <%= javascript_include_tag "activereducer/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
